body{
    margin: 0px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    text-transform: uppercase;  
  }
  
  li {
    float: left;
    position: center;
  }
  
  li a {
    
    font-family: 'Didact Gothic', sans-serif;
    display: block;
    color: black;
    text-align: bottom;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  
   
    /* font-weight: bold; */
  }
  
  li a:hover {
    font-weight: bold;
    text-align: bottom;
    font-weight: bold;
  }
  
  img#logo{
    width: 183px;
    height: 118px;
    padding-left: 50px;
  }
  
  img#home{
      width:1920px;
      height: 883px;
      margin-left: 0%;
  }
  
  img#Panier{
    width : 41px;
    height : 49px;
  }
  img#login{
    width : 43px;
    height : 51px;
  }
  
  .contenant {
    position: relative;
    /* text-align: center; */
    color: white;
  }
  
  
  img#Panier{
    width : 41px;
    height : 49px;
  }
  
  img#login{
    width : 43px;
    height : 51px;
  }
.vertical { 
  border-left: 1px solid black; 
  height: 1000px; 
  display: inline-block;  
  padding-right: 100px;
} 
.info{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column; 
}
.card{
    display: flex;
    align-items: flex-start;
}
.mots{
    font-size: 22px;
    padding-left: 75px;
}
.titre{
    font-family: 'Spartwell';
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
}
.voila{
    display: flex;
    align-items: flex-start;
}
.info{
    width: 400px;
}
.image{
    flex-wrap: wrap;
    align-items: center;
    gap:  50px;
}
.photo1{
    width: 400px;
    height: 500px;
    padding: 0px;
}
.photo2{
  width: 400px;
  height: 500px;
  padding: 0px; 
}
.photo3{
  width: 400px;
  height: 500px;
  padding: 0px; 
}
.photo4{
  width: 400px;
  height: 500px;
  padding: 0px; 
}
.photo5{
  width: 400px;
  height: 500px;
  padding: 0px; 
}
.photo6{
  width: 400px;
  height: 500px;
  padding: 0px; 
}