body{
    margin: 0px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  position: center;
}

li a {
  display: block;
  color: black;
  text-align: bottom;
  text-decoration: none;
}

li a:hover {
    text-align: bottom;
    font-weight: bold;
}
img#logo{
  width : 50px;
  height : 50px;
}

img#Panier{
    width : 41px;
    height : 49px;
  }
img#login{
    width : 43px;
    height : 51px;
  }

  img#home{
    width:1895px;
    height: 879px;
    margin-left: 0%;
}

    img#nude{
        width:2300px;
        height: 1800px;
        margin-left: 0%;
    }
.contenant {
    position: relative;
    text-align: center;
    color: white;
}
      
.texte_centrer {
    position: absolute;
    top: 20%;
    left: 34%;
    transform: translate(-50%, -50%);
    }

#prenom{
    position: absolute;
    left: 1000px;
}

#nom{
    position: absolute;
    left: 1250px;
}

#email{
    position: absolute;
    top: 200px;
    left: 1000px;
}
#request{
    left: 1000px;
    top: 4000px;

}