.body{
  font-family: 'itc-avant-garde-gothic';
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-bottom: 27px;
  padding-top: 27px;
  overflow: hidden;
  background-color: white;
  text-transform: uppercase;  
}

li {
  float: left;
  position: center;
}

li a {
  
  font-family: 'Didact Gothic', sans-serif;
  display: block;
  color: black;
  text-align: bottom;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
 
  /* font-weight: bold; */
}

li a:hover {
  text-align: bottom;
  font-weight: bold;
}

img#logo{
  width : 50px;
  height : 50px;
}

img#home{
    width:1920px;
    height: 883px;
    margin-left: 0%;
}

img#Panier{
  width : 41px;
  height : 49px;
}
img#login{
  width : 43px;
  height : 51px;
}

.contenant {
  position: relative;
  /* text-align: center; */
  color: white;
}

.texte_centrer {
  position: absolute;
  top: 20%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-family: 'Dosis', sans-serif;
  padding-left: 5%;
  padding-right: 19%;
  font-size:20px;
}

img#Panier{
  width : 41px;
  height : 49px;
}

img#login{
  width : 43px;
  height : 51px;
}

